@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1110px;
    margin: 0 auto;
}

/* shared css  */

.d-flex{
    display: flex;
}
.justify-content-b{
    justify-content: space-between;
}
.align-items{
    align-items: center;
}


.btn-primary{
    border: 1px solid #E02C6D;
    background-color: #E02C6D;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 41px;
    transition: all .5s;
    transform: scale(1);
}
.btn-primary:hover{
    background-color: transparent;
    border: 1px solid #E02C6D;
    color: #3A3A3A;
    box-shadow: 0px 5px 18px 1px #000;
    transform: scale(1.1);
}

.btn-primary i{
    margin-left: 10px;
    transition: all .5s;
}




/* main css */


.top-nav{
    padding: 80px 0;
}



.top-bar .logo h4{
    font-size: 1.5rem;
    color: #3A3A3A;
}

.main-menu ul{
    gap: 34px;
    list-style: none;
}

.main-menu ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color:#3A3A3A;
    font-weight: 600;
    transition: all .5s;
}

.main-menu ul li a:hover{
    color: green;
}

.header-content{
    padding: 50px 0;
}


.header-t-des h1{
    font-size: 3.25rem;
    color: #3A3A3A;
    margin-bottom: 15px;
}

.header-t-des p{
    font-weight: 600;
    color: #3A3A3A;
    max-width: 505px;
    margin-bottom: 15px;
}

.header-t-des a{
    margin-top: 15px;
    display: inline-block;
}



.header-image {
    background: url("./images/Circle\ design.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: bottom right;
    background-size: contain;
    padding: 20px;
}

.header-image img{
    width: 100%;
}






/* sponser section */

.our-sponsers{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    border-top: 1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
    padding: 35px 0;
}





/* collection section  */

.collection{
    padding: 100px 0;
}

.section-title h3{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.75rem;
    color: #3A3A3A;
    margin-bottom: 30px;
}

.our-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}


.our-items .items{
    padding: 17px 15px;
    max-width: 330px;
    height: 475px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
    transition: all .5s;
}

.our-items .items:hover{
    background: #C0CCDA;
    color: #0A0826;
    transform: translateY(-10px)
}

.our-items .items img{
    width: 100%;
}

.our-items .items h4{
    text-transform: capitalize;
    line-height: 40px;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 10px 0;
    color: #18191F;
}

.our-items .items .prize{
    font-size: 1.5rem;
    color: #000;
    line-height: 150%;
}

.our-items .items p{
    color: #787885;
    font-size: 14px;
    font-weight: bold;
    line-height: 143%;
}

.collection-link{
    text-align: right;
    margin-top: 20px;
}

.collection-link a{
    text-decoration: none;
    color: #E02C6D;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 30px;
}










/* feature section  */

.feature{
    padding: 100px 0;
}

.feature-image img{
    max-width: 404px;
    height: 270px;
    transition: all .5s;
}

.feature-image:hover img{
    transform: scale(1.1);
}

.feature-des{
    max-width: 610px;
}
.feature-des h2{
    font-size: 2.3rem;
    text-transform: capitalize;
    color: #0A0826;
    line-height: 60px;
    margin: 15px 0;
}

.feature-des p{
    color: #6C6C6C;
    font-weight: bold;
    margin-bottom: 15px;
}

.feature-btn{
    margin-top: 30px;
}
.feature-btn a{
    text-transform: capitalize;
}



/* footer section  */

.footer{
    background-color: #0A0826;
}
.footer-section{
    padding: 50px 0;
}

.footer-content{
    color: #fff;
    max-width: 262px;
    margin: 0 auto;
    text-align: center;
}
.footer-content h3{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.footer-content p{
    color: #D9DBE1;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 20px;
}

.footer-icons{
    justify-content: center;
    gap: 15px;
}
.footer-icons a {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    transition: all .5s;
}
.footer-icons a:hover{
    background: #fff;
    color:#3A3A3A
}

.footer-icons a i{
    display: block;
    font-size: 18px;
}






/* mobile device media  */

@media screen and (max-width: 576px) {
    .top-bar,
    .main-menu ul{
        flex-direction: column;
    }
    .main-menu ul{
        margin-top: 20px;
    }
    .header-content{
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .header-t-des{
        text-align: center;
    }
    .header-t-des p{
        margin: auto;
    }
    .our-sponsers{
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
        justify-items: center;
    }
    .our-items{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .feature-section{
        flex-direction: column-reverse;
        align-items: center;
    }
    .feature-content{
        margin-bottom: 30px;
        text-align: center;
    }
   
}






/* dekstop device media  */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .top-bar,
    .main-menu ul,
    .header-content{
        flex-direction: column;
    }
    .main-menu ul{
        margin-top: 20px;
    }

    .header-content{
        flex-direction: column-reverse;
        margin: 0 auto;
    }
    .header-t-des{
        text-align: center;
    }
    .header-t-des p{
        margin: auto;
    }

    .our-sponsers{
        grid-template-columns: repeat(3,1fr);
        row-gap: 20px;
        justify-items: center;
    }
    .our-items{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .feature-section{
        flex-direction: column-reverse;
        align-items: center;
    }
    .feature-content{
        margin-bottom: 30px;
        text-align: center;
    }
}


